#banner {
    width: 100%;
    margin: 0 auto;
}

#wowslider-container1 {
    zoom: 1;
    position: relative;
    z-index: 90;
    border: none;
    text-align: left;
    height: 860px;
}

* html #wowslider-container1 {
    width: 100%;
}

#wowslider-container1 .ws_images ul {
    position: relative;
    width: 10000%;
    height: auto;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    overflow: visible;
    /*table-layout:fixed;*/
}

#wowslider-container1 .ws_images ul li {
    width: 1%;
    line-height: 0;
    /*opera*/
    float: left;
    font-size: 0;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

#wowslider-container1 .ws_images {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wowslider-container1 .ws_images a {
    width: 100%;
    display: block;
    color: transparent;
}

#wowslider-container1 img {
    max-width: none !important;
}

#wowslider-container1 .ws_images img {
    width: 100%;
    border: none 0;
    max-width: none;
    padding: 0;
    margin: 0;
}

#wowslider-container1 a {
    text-decoration: none;
    outline: none;
    border: none;
}

#wowslider-container1 .ws_bullets {
    font-size: 0px;
    float: left;
    position: absolute;
    z-index: 70;
}

#wowslider-container1 .ws_bullets div {
    position: relative;
    float: left;
}

#wowslider-container1 .wsl {
    display: none;
}

#wowslider-container1 sound,
#wowslider-container1 object {
    position: absolute;
}

#wowslider-container1 .ws_photoItem {
    border: 2em solid #fff;
    margin-left: -2em;
    margin-top: -2em;
}

#wowslider-container1 .ws_bullets {
    padding: 5px 0px;
}

#wowslider-container1 .ws_bullets a {
    font: 14px/48px 'Tinos', Georgia, serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 0px -7px;
    width: 48px;
    height: 48px;
    background: url("../assets/img/banner/bullet.png") left top;
    float: left;
    position: relative;
}

#wowslider-container1 .ws_bullets a:hover {
    background-position: 0 50%;
}

#wowslider-container1 .ws_bullets a.ws_selbull {
    background-position: 0 100%;
    margin: 0px 2px;
    font: 24px/48px 'Tinos', Georgia, serif;
}

#wowslider-container1 a.ws_next,
#wowslider-container1 a.ws_prev {
    background-size: 200%;
    position: absolute;
    display: block;
    bottom: 7em;
    margin-top: -500px;
    z-index: 60;
    width: 1.1em;
    height: 1.6em;
    background-image: url("../assets/img/banner/arrows.png");
    margin-right: 100px;
}

#wowslider-container1 a.ws_next {
    background-position: 100% 0;
    right: 0.5em;
}

#wowslider-container1 a.ws_prev {
    right: 3.5em;
    background-position: 0 0;
}

#wowslider-container1 a.ws_next:hover {
    background-position: 100% 100%;
}

#wowslider-container1 a.ws_prev:hover {
    background-position: 0 100%;
}


/*playpause*/

#wowslider-container1 .ws_playpause {
    display: block;
    width: 1em;
    height: 1.6em;
    position: absolute;
    bottom: 7em;
    right: 2em;
    margin-left: -0.5em;
    margin-top: -0.8em;
    z-index: 59;
}

#wowslider-container1 .ws_pause {
    background-size: 100%;
    background-image: url("../assets/img/banner/pause.png");
    margin-right: 100px;
    margin-top: -500px;
}

#wowslider-container1 .ws_play {
    background-size: 100%;
    background-image: url("../assets/img/banner/play.png");
}

#wowslider-container1 .ws_pause:hover,
#wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}


/* bottom right*/

#wowslider-container1 .ws_bullets {
    bottom: 0;
    right: 50px;
}

#wowslider-container1 .ws-title {
    position: absolute;
    bottom: 5em;
    left: 0;
    margin: 0 0.5em 1.5em 0;
    z-index: 50;
    padding: 1.2em;
    color: #383334;
    background: #E3D84B;
    background-image: linear-gradient(#E6DD61, #E3D84B 45%, #E3D84B);
    background-image: -webkit-linear-gradient(#E6DD61, #E3D84B 45%, #E3D84B);
    background-image: -moz-linear-gradient(#E6DD61, #E3D84B 45%, #E3D84B);
    background-image: -o-linear-gradient(#E6DD61, #E3D84B 45%, #E3D84B);
    font-family: 'Tinos', Georgia, serif;
    font-weight: bold;
    border-radius: 0 0.4em 0.4em 0;
    -moz-border-radius: 0 0.4em 0.4em 0;
    -webkit-border-radius: 0 0.4em 0.4em 0;
    opacity: 0.8;
    // filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
    box-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.2) inset;
}

#wowslider-container1 .ws-title div {
    padding-top: 0.25em;
    font-size: 1.8em;
    line-height: 1.15em;
    font-weight: normal;
    text-transform: none;
}

#wowslider-container1 .ws-title span {
    line-height: 1.1em;
    font-size: 3em;
}

#wowslider-container1 .ws_images ul {
    animation: wsBasic 20.4s infinite;
    -moz-animation: wsBasic 20.4s infinite;
    -webkit-animation: wsBasic 20.4s infinite;
}

@keyframes wsBasic {
    0% {
        left: -0%
    }
    10.78% {
        left: -0%
    }
    16.67% {
        left: -100%
    }
    27.45% {
        left: -100%
    }
    33.33% {
        left: -200%
    }
    44.12% {
        left: -200%
    }
    50% {
        left: -300%
    }
    60.78% {
        left: -300%
    }
    66.67% {
        left: -400%
    }
    77.45% {
        left: -400%
    }
    83.33% {
        left: -500%
    }
    94.12% {
        left: -500%
    }
}

@-moz-keyframes wsBasic {
    0% {
        left: -0%
    }
    10.78% {
        left: -0%
    }
    16.67% {
        left: -100%
    }
    27.45% {
        left: -100%
    }
    33.33% {
        left: -200%
    }
    44.12% {
        left: -200%
    }
    50% {
        left: -300%
    }
    60.78% {
        left: -300%
    }
    66.67% {
        left: -400%
    }
    77.45% {
        left: -400%
    }
    83.33% {
        left: -500%
    }
    94.12% {
        left: -500%
    }
}

@-webkit-keyframes wsBasic {
    0% {
        left: -0%
    }
    10.78% {
        left: -0%
    }
    16.67% {
        left: -100%
    }
    27.45% {
        left: -100%
    }
    33.33% {
        left: -200%
    }
    44.12% {
        left: -200%
    }
    50% {
        left: -300%
    }
    60.78% {
        left: -300%
    }
    66.67% {
        left: -400%
    }
    77.45% {
        left: -400%
    }
    83.33% {
        left: -500%
    }
    94.12% {
        left: -500%
    }
}


/*#wowslider-container1{
    border-color: #CECBCB #CECBCB #E3D84B;
	border-style: solid;
	border-width: 1px 1px 2px;
}*/

#wowslider-container1 .ws_bullets a img {
    text-indent: 0;
    display: block;
    bottom: 25px;
    left: -120px;
    visibility: hidden;
    position: absolute;
    border: 3px solid #FFFFFF;
    max-width: none;
}

#wowslider-container1 .ws_bullets a:hover img {
    visibility: visible;
}

#wowslider-container1 .ws_bulframe div div {
    height: 90px;
    overflow: visible;
    position: relative;
}

#wowslider-container1 .ws_bulframe div {
    left: 0;
    overflow: hidden;
    position: relative;
    width: 240px;
    background-color: #FFFFFF;
}

#wowslider-container1 .ws_bullets .ws_bulframe {
    display: none;
    bottom: 50px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    border: 3px solid #FFFFFF;
    margin-left: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.imgbannercenter {
    width: 100%;
    height: 860px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #wowslider-container1 {
        zoom: 1;
        position: relative;
        z-index: 90;
        border: none;
        text-align: left;
        height: 100%;
    }
    .imgbannercenter {
        width: 100%;
        height: 100%;
    }
    #wowslider-container1 a.ws_next,
    #wowslider-container1 a.ws_prev {
        background-size: 200%;
        position: absolute;
        display: block;
        bottom: 2em;
        margin-top: -100px;
        z-index: 60;
        width: 1.1em;
        height: 1.6em;
        background-image: url("../assets/img/banner/arrows.png");
        margin-right: 10px;
    }
    #wowslider-container1 .ws_pause {
        background-size: 100%;
        background-image: url("../assets/img/banner/pause.png");
        margin-right: 10px;
        margin-top: -100px;
        bottom: 2em;
    }
}